@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-primary: #101828;
  --color-secondary: #64748b;
  --color-textprimary: #38bdf8;
  --color-textsecondary: #f1f5f9;
  --color-texthover:  #ededed;
  --color-buttonprimary: #1036b3;
  --color-buttonhover: #09288f;
  --color-buttontext: #64748b;
  --color-alert: #ef4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
